/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Css pour filtres*/
.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 200px;
	width: 60%;
	height: 37px;
	margin-bottom: 80px;
}

.btn-filter1,
.btn-filter2 {
	display: flex;
	width: 15%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	border-color: #1D6154;
	color: #1D6154;
	background-color: #FFFEF8;
	margin-left: 0px;
	font-size: 16px;
	font-weight: 700;
}

.btn-filter3,
.btn-filter4 {
	display: flex;
	width: 25%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	border-color: #1D6154;
	color: #1D6154;
	background-color: #FFFEF8;
	margin-left: 0px;
	font-size: 16px;
	font-weight: 700;
}

.btn-filter1:hover,
.btn-filter2:hover,
.btn-filter3:hover,
.btn-filter4:hover {
	background-color: #1D6154;
	color: white;

}

/* Css pour Login*/

.body_login {
	background-color: #FFFEF8;
	height: 1024px;
	width: 1440px;
}

.edition_container {
	background-color: black;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btn_edit {
	border-radius: 60px;
	height: 60%;
	width: 35%;
	margin-left: 20px;
	cursor: pointer;
}

.texte_edition a {
	color: #FFFFFF;
	text-decoration: none;
}

.barre_edition {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

#edit_icon {
	color: #FFFFFF;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_gen {
	width: 100%;
	height: 70%;
	border: #1D6154;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#ul_login li:hover {
	font-weight: bolder;
	color: black;
}

#login_titre {
	color: #1D6154;
	height: 20%;
	font-size: 30px;
	font-weight: 700;
}

.container_input {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 60%;
	justify-content: space-evenly;
	align-items: center;
}

.email,
.password {
	background-color: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	height: 11%;
	width: 100%;
}

.erreur_email,
.erreur_password {
	color: red;
	display: none;
}

.input_p1 {
	margin-bottom: -35px;
	margin-left: -350px;
	font-size: 14px;
}

.input_p2 {
	margin-bottom: -35px;
	margin-left: -300px;
	font-size: 14px;
}

.btn_login {
	background-color: #1D6154;
	border-radius: 60px;
	width: 50%;
	height: 8%;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	border: none;
	margin-bottom: -30px;
}

.footer_login {
	background-color: #FFFFFF;
	width: 100%;
	height: 7%;
	margin-top: 150px;
}

.mdp_oublié a {
	text-decoration: underline;
	color: black;
}

/* Css pour Modal*/

.mes_projets {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 30px;
}

#edit_icon2 {
	color: black;
	width: 15px;
	height: 15px;
	margin-top: 10px;
	margin-left: 30px;
}

.js_modal {
	text-decoration: none;
	color: black;
	margin-top: 10px;
	margin-left: 7px;
}

.modal_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.08);
	display: flex;
	align-items: center;
	justify-content: center;

}

.modal_wrapper {
	width: 600px;
	height: 700px;
	max-width: 100vw;
	max-height: 100vh;
	padding: 20px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.fa-trash-can {
	position: absolute;
	margin-left: -25px;
	margin-top: 8px;
	color: #FFFFFF;
	background-color: black;
	border-radius: 2px;
}

.fa-arrows-up-down-left-right {
	position: absolute;
	z-index: 2;
	color: #FFFFFF;
	margin-left: -45px;
	margin-top: 8px;
	background-color: black;
	border-radius: 2px;
}

.js-btn-close {
	width: 5%;
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 500px;
	border-color: #FFFFFF;
	border-width: 0px;
	background-color: #FFFFFF;
}

#cross {
	color: black;
	width: 5%;
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title_modal {
	color: black;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	font-family: 'Work Sans';
}

#card_container {
	width: 78%;
	height: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 50px;
	border-bottom: 1px solid #b3b3b3;

}

#card_modal img {
	width: 80px;
	height: 100px;
	margin-right: 10px;
}

figcaption {
	font-family: 'Work Sans';
	font-size: 12px;
}

figcaption a {
	text-decoration: none;
	color: black;
}

#btn_ajout {
	background-color: #1D6154;
	border-radius: 60px;
	width: 50%;
	height: 8%;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	border: none;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 14px;
	font-family: 'Syne';
	font-style: normal;
}

#btn_ajout a {
	text-decoration: none;
	color: white;
}

.suppr_total {
	color: #d65353;
	text-decoration: none;
	margin-top: -20px;
	margin-bottom: 30px;
	font-family: 'Syne';
	font-size: 14px;
}

/* Css pour Modal2*/

.modal_container2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.08);
	display: flex;
	align-items: center;
	justify-content: center;

}

.modal_wrapper2 {
	width: 600px;
	height: 700px;
	max-width: 100vw;
	max-height: 100vh;
	padding: 20px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;

}

#title_modal2 {
	color: black;
	font-style: normal;
	font-weight: 400;
}

.back_close_btn {
	width: 80%;
	height: 10%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.js-btn-close2 {
	width: 5%;
	height: 5%;
	border-color: #FFFFFF;
	border-width: 0px;
	background-color: #FFFFFF;
	cursor: pointer;
}

.back_btn {
	width: 5%;
	height: 5%;
	border-color: #FFFFFF;
	border-width: 0px;
	background-color: #FFFFFF;
	cursor: pointer;
}

#form_container {
	width: 80%;
	height: 70%;
	align-items: center;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #b3b3b3;
}

.ajout_img {
	width: 80%;
	height: 40%;
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.fa-image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	background-color: #b9c5cc;
	color: #E8F1F6;
}

.img_label {
	margin-top: 20px;
	margin-bottom: 30px;
	cursor: pointer;
	background-color: #cbd6dc;
	color: #306685;
	border-radius: 50px;
	height: 15%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#myfile {}

.titre_form {
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: -360px;
}

#titre_input {
	height: 10%;
	width: 80%;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

.categorie_form {
	margin-top: 15px;
	margin-left: -320px;
	margin-bottom: 15px;
}

#categorie {
	height: 10%;
	width: 80%;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn_form {
	color: white;
	margin-top: 30px;
	border-radius: 60px;
	border: none;
	background-color: #a7a7a7;
	width: 30%;
	height: 5%;
}

.btn_form a {
	text-decoration: none;
	color: white;
}

.erreur_form {
	color: red;
	margin-top: 30px;
	display: none;
}